

<%= f.fields_for :invoice_products, @invoice.invoice_products.build do |product_field| %>


  <tr id="row-0">
    <th scope="row" id="product-num" colspan="1">0</th>
    <td colspan="5"><%= product_field.select :product_id, options_from_collection_for_select(current_user.products, :id, :name) %></td>
    <td><%= product_field.text_field :quantity, class: 'col-md-3' %></td>
    <td><%= product_field.text_field :total, class: 'col-md-3' %></td>
    <td><button type="button" class="btn btn-danger" onclick="removeRow(this)">Remove</button></td>
  </tr>


<% end %>
