
  <tr id="input-group">
    <input type="hidden" value="false" name="invoice[invoice_products_attributes][0][_destroy]" id="invoice_invoice_products_attributes_0__destroy">
    <th scope="row" id="product-num">1</th>

    <td><%= select_tag :product_id, options_from_collection_for_select(Product.all, :id, :name), include_blank: 'Select a product'%></td>


    <td><input size="1em" class="form-control text-center" type="text" value="1" name="invoice[invoice_products_attributes][0][quantity]" id="invoice_invoice_products_attributes_0_quantity"></td>


    <td><input readonly size="2em" class="form-control text-center" type="text" name="invoice[invoice_products_attributes][0][total]" id="invoice_invoice_products_attributes_0_total"></td>


    <td><a class="btn btn-danger float-right remove-field" href="#">Delete</a></td>

  </tr>
