<h1 class="text-center">My Invoices</h1>


<div class="card">
  <div class="card-header d-flex flex-row bd-highlight p-4">

    <div class="pr-2">
      <% if params[:account_id] %>
        <%= button_to "Create Invoice",new_account_invoice_path, method: 'get',class: 'btn btn-primary' %>
      <% else %>
        <%= button_to "Create Invoice",new_invoice_path, method: 'get',class: 'btn btn-primary' %>
      <% end %>
    </div>

    <div class="container-fluid mr-0">
      <%= button_to "View/Manage Clients", clients_path, method: 'get', class: 'mr-auto btn btn-warning float-right' %>
    </div>
  </div>

  <div class="container-fluid">
    <%= render partial: 'list_invoices', locals: {invoices: @invoices} %>
  </div>

</div>
