

<h1 class="text-center">Create new Invoice</h1>

<% if current_user.clients.count < 1 %>

  <div class="alert alert-danger">
    You have no clients to select yet! <br>
    Please <%= link_to "create a client", new_client_path %> before creating a invoice!
  </div>

<% elsif current_user.products.empty? %>

  <div class="alert alert-danger">
    You have no products to add to a invoice yet!
    Please <%= link_to "create a product", new_product_path %> before creating a invoice!
  </div>

<% end %>

<div class="invoice mt-5">

  <%= render partial: 'invoice_form', locals: {invoice: @invoice}  %>

</div>
