<br><br>


<div class="invoice p-5">

  <% if @invoice %>
    <%= render partial: 'show_invoice', locals: {invoice: @invoice} %>
  <% else %>
    <h4>Invoice does not exist!</h4>
  <% end %>


</div>
