<h1>Invoices#show</h1>

<div class="invoice">

  <div class="row">

    <div class="col">
      <h4>Users Business Name</h4>
      <address class="">
        1 Address Here City, State 00000
      </address>
    </div>

    <div class="col">
      <h2>Invoice ID #</h2>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <h4>Bill To</h4>
      <p>
        Name
        Company
        <address class="">
          2 Downtown Lane City, State 00000
        </address>
        Telephone
        Email Address
      </p>
    </div>

    <div class="col">
      <h5>Date</h5>
      <br>
      <h5>Date Due</h5>
    </div>
  </div>

  <div class="row border border-dark">
    <div class="col">
      <center>
        <h4>Main Content</h4>
      </center>

      <table class="table table-dark">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col" colspan="2">Description</th>
            <th scope="col">Quantity</th>
            <th scope="col">Rate</th>
            <th scope="col">Amount</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row" colspan="1">1</th>
            <td colspan="2">Short description of product or service</td>
            <td>##</td>
            <td>$$</td>
            <td>$$$$</td>
          </tr>
        </tbody>
      </table>


    </div>
  </div>

  <div class="row border border-dark">

    <div class="col">

    </div>

    <div class="col">
      <div class="row">
        <div class="col">
          Sub Total:
        </div>
        <div class="col">
          $$
        </div>
      </div>
    </div>
  </div>

</div>
