
<% if clients %>
  <% clients.each do |client| %>

    <%= link_to client.client_info, client, class: 'card p-2 text-white bg-info mb-3 d-sm-inline-flex' %>

    <br>
  <% end %>

<% else %>
  <h2>No Clients to Display!</h2>
<% end %>
