<h1 class="text-center">Client List</h1>
  <strong class="text-warning">*Clients you created will have a edit button next to them</strong>
<div class="card">
  <div class="card-header d-flex flex-row bd-highlight p-4">


  <div class="container-fluid p-4">
    <%= render partial: 'list_clients', locals: {clients: @clients} %>
  </div>

</div>
