/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";

* {

}
body{
  background-image: url('/assets/background.jpg');
  background-repeat: no-repeat;
  font-family: 'Exo 2', sans-serif;
  background-size: cover;
  height: 100%;
}
header{
  margin-bottom: 105px;
}
footer{
  margin-top: 125px;
  background-color: black;
  color: white;
  text-align: center;
}

.required {
  color: red;
}
.field{
  padding: 2px;
}
.field_with_errors > select{
  border-color: red;
}
.date-select{
  width: 50%;
}
.invoice {
  margin: 35px;
  background-color: white;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 1px 2px 0 rgba(0, 0, 0, 0.1), 4px 4px 0 #fff, 5px 5px 0 rgba(0, 0, 0, 0.125), 8px 8px 0 #fff, 9px 9px 0 rgba(0, 0, 0, 0.15);
}

.form-signin {
    width: 100%;
    max-width: 420px;
    padding: 15px;
    margin: 0 auto;
}

select {
  display: inline-block;
  width: 80%;
  height: calc(2.25rem + 2px);
  padding: .375rem 1.75rem .375rem .75rem;
  line-height: 1.5;
  color: #495057;
  vertical-align: middle;
  background: #fff url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") no-repeat right .75rem center;
  background-size: 8px 10px;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
