<h1 class="text-center">Products</h1>

<div class="card p-4">
  <div class="card-header d-flex flex-row bd-highlight p-4">

    <div class="pr-2">
      <%= button_to "Create New Product",new_product_path, method: 'get',class: 'btn btn-primary' %>
    </div>

  </div>

  <% @products.each do |product| %>

    <div class="row p-1 mt-3">
      <div class="col-1">
      </div>

      <div class="col flex">

        <div class="row p-1">
          <div class="col-4">
            <%= link_to product.name, product, class: 'card p-2 text-white bg-info mb-3 d-sm-inline-flex' %>
          </div>
          <div class="col flex">
            <%= product.description %>
          </div>

        </div>

      </div>

    </div>
    <hr class="border-info col-11 m-auto" />
  <% end %>
</div>
