<div class="field">
  <%= f.label :name, "Account Name:" %>
  <%= f.text_field :name, placeholder: 'Name', class: 'form-control', class: 'form-control col-6' %>
</div>

<div class="field" id="client-select">
  <%= f.label :client, 'Select Existing Client: ' %>
  <%= f.collection_select(:client_id, Client.all, :id, :name, {prompt: true}, {class: 'form-control col-6', placeholder: 'Select Client', id: 'client-selector'}) %>
</div>
