
<% if accounts %>
  <% accounts.each do |account| %>

    <hr>
      <div class="row">
        <div class="col">
          <%= link_to account.name, account_path(account) %>
        </div>

        <div class="col">
          <%= link_to account.client.name, client_path(account.client) %>
        </div>

        <div class="col">
          <%= link_to "Create New Invoice", new_account_invoice_path(account), class: 'btn btn-primary' %>
          <%= link_to "View Invoices", account_invoices_path(account), class: 'btn btn-info' %>
        </div>

      </div>
    <hr>

  <% end %>

<% else %>
  <h2>No Accounts to Display!</h2>
<% end %>
