
<% if accounts %>
  <% accounts.each do |account| %>

    <hr>

      <%= link_to account_info(account), client_path(account.client)  %>

    <hr>

  <% end %>

<% else %>
  <h2>No Accounts to Display!</h2>
<% end %>
