<h1 class="text-center">Accounts</h1>


<div class="card">
  <div class="card-header d-flex flex-row bd-highlight p-4">

    <div class="pr-2">
      <%= button_to "Create Account",new_account_path, method: 'get', class: 'btn btn-primary' %>
    </div>

    <div class="container-fluid mr-0">
      <%= button_to "Clear Closed Accounts", clients_path, method: 'get', class: 'mr-auto btn btn-warning float-right' %>
    </div>
  </div>

  <div class="container-fluid p-4">

    <div class="row">
      <div class="col">
        <h4>Account Name</h4>
      </div>
      <div class="col">
        <h4>Client</h4>
      </div>
      <div class="col">
      </div>
    </div>

        <%= render partial: 'list_accounts', locals: {accounts: @accounts} %>

  </div>

</div>
