

<h1>Create New Account</h1>

<h4 class="float-right">Current Account Holder: <%= current_user.username %></h4>

<%= render partial: 'account', locals: {account: @account} %>

<script type="text/javascript">

  clientSelect = document.getElementById("client-selector");
  newForm = document.getElementsByClassName("card")[0];
  // showClientBtn = document.getElementById("showClients");

  clientSelect.addEventListener('change', function(){
    newForm.hidden = true;
  });

  newForm.addEventListener('change', function(){
    clientSelect.hidden = true;
    // showClientBtn.hidden = false;
  });

</script>
